<launch>

  <node name="openzen_sensor" pkg="openzen_sensor" type="openzen_sensor_node">
    <remap from="imu/mag" to="openzen/mag"/>
    <remap from="imu/data" to="openzen/data"/>
    <param name="_baudrate" value="921600"/>
  </node>
  
  <!--node pkg="nodelet" type="nodelet" name="imu_manager" args="manager"/-->
  <!--transform imu to ENU, publishes imu/data_raw, imu/mag-->
  <!--node pkg="nodelet" type="nodelet" name="imu_data_transformer" args="load imu_transformer/imu_transformer_nodelet imu_manager">
    <remap from="imu_in/data" to="openzen/data"/>
    <remap from="imu_in/mag" to="openzen/mag"/>
    <remap from="imu_out/data" to="imu/data_raw"/>
    <remap from="imu_out/mag" to="imu/mag"/>
    <param name="target_frame" value="base_link"/>
  </node-->
  
  <!-- filter raw data: publish to imu/data, subscribes imu/data_raw, imu/mag [might take this out] -->
  <!--node pkg="nodelet" type="nodelet" name="imu_filter" args="load imu_filter_madgwick/ImuFilterNodelet imu_manager">
    <remap from="imu/data_raw" to="openzen/data"/>
    <remap from="imu/mag" to="openzen/mag"/>
    <rosparam>
      use_mag: false
      mag_bias_x: 0
      mag_bias_y: 0
      mag_bias_z: 0
      orientation_stddev: 0.001
      gain: 0.01
      zeta: 0.001
      publish_tf: false
    </rosparam>
  </node-->

</launch>
