<launch>

    <node pkg="tf" type="static_transform_publisher" name="imu_broadcaster" args="-.4064 .3048 1.02 0 0 0 base_link imu 50"/>
    <node pkg="tf" type="static_transform_publisher" name="camera_broadcaster" args=".03 0 1.029 0 0 0 base_link camera_link 50"/>
    <!--node pkg="tf" type="static_transform_publisher" name="base_link_to_footprint" args="0.42 0 0.42 0 0 0 base_footprint base_link 50"/ -->
    <!--node pkg="tf" type="static_transform_publisher" name="map_to_odom" args="0 0 0 0 0 0 map odom 50"/-->
    <node pkg="tf" type="static_transform_publisher" name="gps_to_link" args="-0.2 0 1.02 0 0 0 base_link gps_link 50"/>
    <!--Launch odom, imu, gps-->
  
  
    <!-- subscribes to cmd_vel topic -->
    <!-- publishes odom topic with base_link frame -->
    <!-- broadcasts odom->base_footprint transform -->
    <!--include file="$(find roboteq_diff_driver)/launch/driver.launch">
    </include-->
    
    <!--node pkg="nmea_socket_pub" type="driver.py" name="trimble_gps"/-->

    <!--arg name="offline"          default="false"/>
    <include unless="$(arg offline)" 
        file="$(find realsense2_camera)/launch/rs_camera.launch">
        <arg name="align_depth" value="true"/>
        <arg name="linear_accel_cov" value="1.0"/>
        <arg name="unite_imu_method" value="linear_interpolation"/>
        <arg name="filters" value="pointcloud"/>
    </include -->
    

    <!-- publish /scan from depth camera->lidarscan -->

    <!--include file="$(find depthimage_to_laserscan)/launch/launchfile_sample.launch"/ -->

    <include file="$(find navstack_pub)/launch/single_ekf.launch"/>
    <include file="$(find navstack_pub)/launch/realsense.launch"/>
    <node pkg="rviz" type="rviz" name="rviz"  args="-d /home/chase/catkin_ws/maps/rtab_config.rviz"/>
    

    


    <!-- waypoint buffer-->

    <!--node pkg = 'buffer_waypoints' type="buffer_waypoints.py" name="buffer_waypoints"/-->
</launch>