<?xml version="1.0"?>
<launch>
  <!--node pkg="tf" type="static_transform_publisher" name="imu_broadcaster" args="-0.4064 0.3048 0.4572 0 0 0 base_link imu 50"/-->
  <!--node pkg="tf" type="static_transform_publisher" name="gps_broadcaster" args="0 0 0.23 0 0 0 base_link base_footprint 30"/-->
  <!--node pkg="tf" type="static_transform_publisher" name="map_to_odom" args="0 0 0 0 0 0 map odom 30" /-->
  <!--Launch odom, imu, gps-->


  <!-- subscribes to cmd_vel topic -->
  <!-- publishes odom topic with base_link frame -->
  <!-- broadcasts odom->base_footprint transform -->
  <include file="$(find roboteq_diff_driver)/launch/driver.launch"/>


  <node name="openzen_sensor" pkg="openzen_sensor" type="openzen_sensor_node">
    <remap from="imu/mag" to="openzen/mag"/>
    <remap from="imu/data" to="openzen/data"/>
    <param name="_baudrate" value="921600"/>
  </node>

  <node pkg="nodelet" type="nodelet" name="imu_manager" args="manager"/>
  <!--transform imu to ENU, publishes imu/data_raw, imu/mag-->
  <!-- pkg="nodelet" type="nodelet" name="imu_data_transformer" args="load imu_transformer/imu_transformer_nodelet imu_manager">
    <remap from="imu_in/data" to="openzen/data"/>
    <remap from="imu_in/mag" to="openzen/mag"/>
    <remap from="imu_out/data" to="imu/data_raw"/>
    <remap from="imu_out/mag" to="imu/mag"/>
    <param name="target_frame" value="base_link"/>
  </node-->

  <node pkg="nodelet" type="nodelet" name="imu_filter" args="load imu_filter_madgwick/ImuFilterNodelet imu_manager">
    <remap from="imu/data_raw" to="openzen/data"/>
    <remap from="imu/mag" to="openzen/mag"/>
    <rosparam>
      use_mag: true
      mag_bias_x: 0
      mag_bias_y: 0
      mag_bias_z: 0
      orientation_stddev: 0.004
      gain: 0.02
      zeta: 0.002
      publish_tf: false
    </rosparam>
  </node>


  <!-- GPS launches: publishes NavSatFix to /fix, which will be used with navsat_transform_node-->
  <!-- /gps/fix-->
  <node pkg="nmea_socket_pub" type="driver.py" name="trimble_gps">
  </node>
 
  <rosparam command="load" file="$(find navstack_pub)/param/single_ekf.yaml" />
  <rosparam command="load" file="$(find navstack_pub)/param/navsat_params.yaml" />
  
  <node pkg="robot_localization" type="ekf_localization_node" name="ekf_se_odom" clear_params="true"/>

  <!--node pkg="robot_localization" type="ekf_localization_node" name="ekf_se_map" clear_params="true">
    <remap from="odometry/filtered" to="odometry/filtered_map"/>
  </node -->
  <node pkg="robot_localization" type="ekf_localization_node" name="ekf_se_map" clear_params="true">
    <remap from="odometry/filtered" to="odometry/filtered_map"/>
  </node>

  <node pkg="robot_localization" type="navsat_transform_node" name="navsat_transform" clear_params="true" output="screen">
    <remap from="odometry/filtered" to="odometry/filtered_map"/>
    <remap from="gps/fix" to="/trimble_gps/fix"/>
    <remap from="imu/data" to="/imu/data"/>
    <!--param name="~yaw_offset" value="1.57"/ -->
  </node>
  

</launch>