<launch>
    <rosparam command="load" file="$(find navstack_pub)/param/ukf_params.yaml" />
    <rosparam command="load" file="$(find navstack_pub)/param/navsat_params.yaml" />
    
    <node pkg="robot_localization" type="ukf_localization_node" name="ukf_filter_node" clear_params="true"/>
  
    <!--node pkg="robot_localization" type="ekf_localization_node" name="ekf_se_map" clear_params="true">
      <remap from="odometry/filtered" to="odometry/filtered_map"/>
    </node-->
  
    <node pkg="robot_localization" type="navsat_transform_node" name="navsat_transform" clear_params="true" output="screen">
      <remap from="odometry/filtered" to="odometry/filtered"/>
      <remap from="gps/fix" to="/trimble_gps/fix"/>
      <remap from="imu/data" to="/openzen/data"/>
    </node> 
  
</launch>